<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<plist version="1.0">
  <dict>
    <key>CFBundleName</key>
    <string>Clipboard Boss</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0</string>
    <key>CFBundleGetInfoString</key>
    <string>$Clipboard Boss, Copyright © 2015 Luca Rocci</string>
    <key>CFBundleAllowMixedLocalizations</key>
    <string>false</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleExecutable</key>
    <string>JavaApplicationStub</string>
    <key>CFBundleDevelopmentRegion</key>
    <string>English</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleVersion</key>
    <string>1.0</string>
    <key>CFBundleIconFile</key>
    <string>ClipboardBoss.icns</string>
    <key>CFBundleIdentifier</key>
    <string>it.rocci.clipboss.MainApp</string>
    <key>NSHumanReadableCopyright</key>
    <string>Copyright © 2015 Luca Rocci</string>
    <key>Java</key>
    <dict>
      <key>MainClass</key>
      <string>it.rocci.clipboss.MainApp</string>
      <key>JVMVersion</key>
      <string>1.6+</string>
      <key>ClassPath</key>
      <array>
        <string>$JAVAROOT/.classpath</string>
        <string>$JAVAROOT/.java.policy</string>
        <string>$JAVAROOT/.project</string>
        <string>$JAVAROOT/.settings\org.eclipse.jdt.core.prefs</string>
        <string>$JAVAROOT/ClipboardBoss.app\Contents\Resources\ClipboardBoss.icns</string>
        <string>$JAVAROOT/ClipboardBoss.icns</string>
        <string>$JAVAROOT/ClipboardBoss.ico</string>
        <string>$JAVAROOT/ClipboardBoss.jar</string>
        <string>$JAVAROOT/ClipboardBoss.png</string>
        <string>$JAVAROOT/Config\config.properties</string>
        <string>$JAVAROOT/GNU General Public License v3.0.html</string>
        <string>$JAVAROOT/Lang\LanguagePack_en.properties</string>
        <string>$JAVAROOT/Lang\LanguagePack_it.properties</string>
        <string>$JAVAROOT/Log\LogInfo.html</string>
        <string>$JAVAROOT/Theme\Simple Black\BLACKJAR.TTF</string>
        <string>$JAVAROOT/Theme\Simple Black\Blackout Sunrise.ttf</string>
        <string>$JAVAROOT/Theme\Simple Black\Elegantlight.ttf</string>
        <string>$JAVAROOT/Theme\Simple Black\Roboto-Light.ttf</string>
        <string>$JAVAROOT/Theme\Simple Black\Roboto-Medium.ttf</string>
        <string>$JAVAROOT/Theme\Simple Black\Smiley.ttf</string>
        <string>$JAVAROOT/Theme\Simple Black\Theme.info</string>
        <string>$JAVAROOT/Theme\Simple Black\about-24-h.png</string>
        <string>$JAVAROOT/Theme\Simple Black\about-24.png</string>
        <string>$JAVAROOT/Theme\Simple Black\about.png</string>
        <string>$JAVAROOT/Theme\Simple Black\clipboard.png</string>
        <string>$JAVAROOT/Theme\Simple Black\close-24-h.png</string>
        <string>$JAVAROOT/Theme\Simple Black\close-24.png</string>
        <string>$JAVAROOT/Theme\Simple Black\copy-24-h.png</string>
        <string>$JAVAROOT/Theme\Simple Black\copy-24.png</string>
        <string>$JAVAROOT/Theme\Simple Black\de.png</string>
        <string>$JAVAROOT/Theme\Simple Black\delete-24-h.png</string>
        <string>$JAVAROOT/Theme\Simple Black\delete-24.png</string>
        <string>$JAVAROOT/Theme\Simple Black\donate-24-h.png</string>
        <string>$JAVAROOT/Theme\Simple Black\donate-24.png</string>
        <string>$JAVAROOT/Theme\Simple Black\down-24-h.png</string>
        <string>$JAVAROOT/Theme\Simple Black\down-24.png</string>
        <string>$JAVAROOT/Theme\Simple Black\en.png</string>
        <string>$JAVAROOT/Theme\Simple Black\fr.png</string>
        <string>$JAVAROOT/Theme\Simple Black\image-24.png</string>
        <string>$JAVAROOT/Theme\Simple Black\it.png</string>
        <string>$JAVAROOT/Theme\Simple Black\settings-24-h.png</string>
        <string>$JAVAROOT/Theme\Simple Black\settings-24.png</string>
        <string>$JAVAROOT/Theme\Simple Black\settings.png</string>
        <string>$JAVAROOT/Theme\Simple Black\size-24.png</string>
        <string>$JAVAROOT/Theme\Simple Black\text-24.png</string>
        <string>$JAVAROOT/Theme\Simple Black\time-24.png</string>
        <string>$JAVAROOT/Theme\Simple Black\up-24-h.png</string>
        <string>$JAVAROOT/Theme\Simple Black\up-24.png</string>
        <string>$JAVAROOT/Theme\Simple Black\www-24-h.png</string>
        <string>$JAVAROOT/Theme\Simple Black\www-24.png</string>
        <string>$JAVAROOT/Theme\Simple Color\BLACKJAR.TTF</string>
        <string>$JAVAROOT/Theme\Simple Color\Blackout Sunrise.ttf</string>
        <string>$JAVAROOT/Theme\Simple Color\Elegantlight.ttf</string>
        <string>$JAVAROOT/Theme\Simple Color\MARSNEVENEKSK.otf</string>
        <string>$JAVAROOT/Theme\Simple Color\Roboto-Light.ttf</string>
        <string>$JAVAROOT/Theme\Simple Color\Roboto-Medium.ttf</string>
        <string>$JAVAROOT/Theme\Simple Color\Shenandoah_PersonalUse.ttf</string>
        <string>$JAVAROOT/Theme\Simple Color\Smiley.ttf</string>
        <string>$JAVAROOT/Theme\Simple Color\Theme.info</string>
        <string>$JAVAROOT/Theme\Simple Color\about-24-h.png</string>
        <string>$JAVAROOT/Theme\Simple Color\about-24.png</string>
        <string>$JAVAROOT/Theme\Simple Color\about.png</string>
        <string>$JAVAROOT/Theme\Simple Color\clipboard.png</string>
        <string>$JAVAROOT/Theme\Simple Color\close-24-h.png</string>
        <string>$JAVAROOT/Theme\Simple Color\close-24.png</string>
        <string>$JAVAROOT/Theme\Simple Color\copy-24-h.png</string>
        <string>$JAVAROOT/Theme\Simple Color\copy-24.png</string>
        <string>$JAVAROOT/Theme\Simple Color\de.png</string>
        <string>$JAVAROOT/Theme\Simple Color\delete-24-h.png</string>
        <string>$JAVAROOT/Theme\Simple Color\delete-24.png</string>
        <string>$JAVAROOT/Theme\Simple Color\donate-24-h.png</string>
        <string>$JAVAROOT/Theme\Simple Color\donate-24.png</string>
        <string>$JAVAROOT/Theme\Simple Color\down-24-h.png</string>
        <string>$JAVAROOT/Theme\Simple Color\down-24.png</string>
        <string>$JAVAROOT/Theme\Simple Color\en.png</string>
        <string>$JAVAROOT/Theme\Simple Color\fr.png</string>
        <string>$JAVAROOT/Theme\Simple Color\image-24.png</string>
        <string>$JAVAROOT/Theme\Simple Color\it.png</string>
        <string>$JAVAROOT/Theme\Simple Color\settings-24-h.png</string>
        <string>$JAVAROOT/Theme\Simple Color\settings-24.png</string>
        <string>$JAVAROOT/Theme\Simple Color\settings.png</string>
        <string>$JAVAROOT/Theme\Simple Color\size-24.png</string>
        <string>$JAVAROOT/Theme\Simple Color\text-24.png</string>
        <string>$JAVAROOT/Theme\Simple Color\time-24.png</string>
        <string>$JAVAROOT/Theme\Simple Color\up-24-h.png</string>
        <string>$JAVAROOT/Theme\Simple Color\up-24.png</string>
        <string>$JAVAROOT/Theme\Simple Color\www-24-h.png</string>
        <string>$JAVAROOT/Theme\Simple Color\www-24.png</string>
        <string>$JAVAROOT/ant\ClipboardBoss.buildnumber</string>
        <string>$JAVAROOT/ant\ClipboardBoss.startup.plist</string>
        <string>$JAVAROOT/ant\Installer.image.png</string>
        <string>$JAVAROOT/ant\Installer.langsel.png</string>
        <string>$JAVAROOT/ant\Unix_shortcutSpec.xml</string>
        <string>$JAVAROOT/ant\build.ant.xml</string>
        <string>$JAVAROOT/ant\installer.xml</string>
        <string>$JAVAROOT/ant\installer\ClipboardBoss-macosx.app\Contents\Info.plist</string>
        <string>$JAVAROOT/ant\installer\ClipboardBoss-macosx.app\Contents\MacOS\JavaApplicationStub</string>
        <string>$JAVAROOT/ant\installer\ClipboardBoss-macosx.app\Contents\PkgInfo</string>
        <string>$JAVAROOT/ant\installer\ClipboardBoss-macosx.app\Contents\Resources\Java\ClipboardBoss-uni.jar</string>
        <string>$JAVAROOT/ant\installer\ClipboardBoss-macosx.app\Contents\Resources\izpack.icns</string>
        <string>$JAVAROOT/ant\installer\ClipboardBoss-uni.jar</string>
        <string>$JAVAROOT/ant\installer\ClipboardBoss-win.exe</string>
        <string>$JAVAROOT/ant\shortcutSpec.xml</string>
        <string>$JAVAROOT/bin\it\rocci\clipboss\Clipboard.png</string>
        <string>$JAVAROOT/bin\it\rocci\clipboss\MainApp$1.class</string>
        <string>$JAVAROOT/bin\it\rocci\clipboss\MainApp$2.class</string>
        <string>$JAVAROOT/bin\it\rocci\clipboss\MainApp.class</string>
        <string>$JAVAROOT/bin\it\rocci\clipboss\model\ClipboardItem.class</string>
        <string>$JAVAROOT/bin\it\rocci\clipboss\ui\AboutDialog$1.class</string>
        <string>$JAVAROOT/bin\it\rocci\clipboss\ui\AboutDialog$2.class</string>
        <string>$JAVAROOT/bin\it\rocci\clipboss\ui\AboutDialog.class</string>
        <string>$JAVAROOT/bin\it\rocci\clipboss\ui\MainWindow$1.class</string>
        <string>$JAVAROOT/bin\it\rocci\clipboss\ui\MainWindow$2.class</string>
        <string>$JAVAROOT/bin\it\rocci\clipboss\ui\MainWindow$3.class</string>
        <string>$JAVAROOT/bin\it\rocci\clipboss\ui\MainWindow$4.class</string>
        <string>$JAVAROOT/bin\it\rocci\clipboss\ui\MainWindow$5.class</string>
        <string>$JAVAROOT/bin\it\rocci\clipboss\ui\MainWindow$6.class</string>
        <string>$JAVAROOT/bin\it\rocci\clipboss\ui\MainWindow$7.class</string>
        <string>$JAVAROOT/bin\it\rocci\clipboss\ui\MainWindow$8.class</string>
        <string>$JAVAROOT/bin\it\rocci\clipboss\ui\MainWindow$ImageTransferable.class</string>
        <string>$JAVAROOT/bin\it\rocci\clipboss\ui\MainWindow.class</string>
        <string>$JAVAROOT/bin\it\rocci\clipboss\ui\MiniWindow$1.class</string>
        <string>$JAVAROOT/bin\it\rocci\clipboss\ui\MiniWindow$2.class</string>
        <string>$JAVAROOT/bin\it\rocci\clipboss\ui\MiniWindow$3.class</string>
        <string>$JAVAROOT/bin\it\rocci\clipboss\ui\MiniWindow.class</string>
        <string>$JAVAROOT/bin\it\rocci\clipboss\ui\SettingsDialog$LabelListRenderer.class</string>
        <string>$JAVAROOT/bin\it\rocci\clipboss\ui\SettingsDialog.class</string>
        <string>$JAVAROOT/bin\it\rocci\clipboss\ui\component\Button.class</string>
        <string>$JAVAROOT/bin\it\rocci\clipboss\ui\component\ClipboardRenderer.class</string>
        <string>$JAVAROOT/bin\it\rocci\clipboss\ui\component\ClipboardRendererMini.class</string>
        <string>$JAVAROOT/bin\it\rocci\clipboss\ui\component\Dialog$1.class</string>
        <string>$JAVAROOT/bin\it\rocci\clipboss\ui\component\Dialog$2.class</string>
        <string>$JAVAROOT/bin\it\rocci\clipboss\ui\component\Dialog$3.class</string>
        <string>$JAVAROOT/bin\it\rocci\clipboss\ui\component\Dialog.class</string>
        <string>$JAVAROOT/bin\it\rocci\clipboss\ui\component\Header.class</string>
        <string>$JAVAROOT/bin\it\rocci\clipboss\ui\component\NotificationPanel.class</string>
        <string>$JAVAROOT/bin\it\rocci\clipboss\ui\component\StatusBar.class</string>
        <string>$JAVAROOT/bin\it\rocci\clipboss\utils\Configuration.class</string>
        <string>$JAVAROOT/bin\it\rocci\clipboss\utils\HtmlLogFormatter.class</string>
        <string>$JAVAROOT/bin\it\rocci\clipboss\utils\Utils.class</string>
        <string>$JAVAROOT/jar\ClipboardBoss-37.jar</string>
        <string>$JAVAROOT/jar\ClipboardBoss-38.jar</string>
        <string>$JAVAROOT/jar\ClipboardBoss-39.jar</string>
        <string>$JAVAROOT/jar\ClipboardBoss-40.jar</string>
        <string>$JAVAROOT/jar\ClipboardBoss-41.jar</string>
        <string>$JAVAROOT/jar\ClipboardBoss-42.jar</string>
        <string>$JAVAROOT/jar\ClipboardBoss-43.jar</string>
        <string>$JAVAROOT/jar\ClipboardBoss-44.jar</string>
        <string>$JAVAROOT/jar\ClipboardBoss-45.jar</string>
        <string>$JAVAROOT/jar\ClipboardBoss-46.jar</string>
        <string>$JAVAROOT/jar\ClipboardBoss-47.jar</string>
        <string>$JAVAROOT/jar\ClipboardBoss-48.jar</string>
        <string>$JAVAROOT/jar\ClipboardBoss-49.jar</string>
        <string>$JAVAROOT/jar\ClipboardBoss-50.jar</string>
        <string>$JAVAROOT/jar\ClipboardBoss-51.jar</string>
        <string>$JAVAROOT/jar\ClipboardBoss-52.jar</string>
        <string>$JAVAROOT/jar\ClipboardBoss-53.jar</string>
        <string>$JAVAROOT/src\it\rocci\clipboss\Clipboard.png</string>
        <string>$JAVAROOT/src\it\rocci\clipboss\MainApp.java</string>
        <string>$JAVAROOT/src\it\rocci\clipboss\model\ClipboardItem.java</string>
        <string>$JAVAROOT/src\it\rocci\clipboss\ui\AboutDialog.java</string>
        <string>$JAVAROOT/src\it\rocci\clipboss\ui\MainWindow.java</string>
        <string>$JAVAROOT/src\it\rocci\clipboss\ui\MiniWindow.java</string>
        <string>$JAVAROOT/src\it\rocci\clipboss\ui\SettingsDialog.java</string>
        <string>$JAVAROOT/src\it\rocci\clipboss\ui\component\Button.java</string>
        <string>$JAVAROOT/src\it\rocci\clipboss\ui\component\ClipboardRenderer.java</string>
        <string>$JAVAROOT/src\it\rocci\clipboss\ui\component\ClipboardRendererMini.java</string>
        <string>$JAVAROOT/src\it\rocci\clipboss\ui\component\Dialog.java</string>
        <string>$JAVAROOT/src\it\rocci\clipboss\ui\component\Header.java</string>
        <string>$JAVAROOT/src\it\rocci\clipboss\ui\component\NotificationPanel.java</string>
        <string>$JAVAROOT/src\it\rocci\clipboss\ui\component\StatusBar.java</string>
        <string>$JAVAROOT/src\it\rocci\clipboss\utils\Configuration.java</string>
        <string>$JAVAROOT/src\it\rocci\clipboss\utils\HtmlLogFormatter.java</string>
        <string>$JAVAROOT/src\it\rocci\clipboss\utils\Utils.java</string>
      </array>
      <key>Properties</key>
      <dict>
        <key>apple.awt.brushMetal</key>
        <string>true</string>
        <key>apple.laf.useScreenMenuBar</key>
        <string>true</string>
        <key>apple.awt.showGrowBox</key>
        <string>false</string>
      </dict>
    </dict>
  </dict>
</plist>
